@use 'variaveis';

.footer {
    background-color: variaveis.$cor-cinza-fundo1;
    padding: 40px;

    @media (max-width: 480px) {
        padding: 30px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        padding: 30px;
    }

    &__container {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-decoration: none;
            color: variaveis.$cor-branco;
            font-size: 24px;
            font-weight: bold;

            @media (max-width: 480px) {
                font-size: 18px;
            }

            @media (min-width: 481px) and (max-width: 767px) {
                font-size: 20px;
            }
        }

        &__p1 {
            color: variaveis.$cor-branco;
            font-size: 16px;
            margin-top: 20px;
            letter-spacing: 2px;

            @media (max-width: 480px) {
                font-size: 12px;
                margin-top: 10px;
            }

            @media (min-width: 481px) and (max-width: 767px) {
                font-size: 14px;
                margin-top: 15px;
            }
        }

        &__redes {
            display: flex;

            a {
                text-decoration: none;

                img {
                    max-width: 32px;
                    width: 100%;
                    margin: 20px 10px;

                    @media (max-width: 480px) {
                        max-width: 22px;
                        margin: 10px 5px;
                    }

                    @media (min-width: 481px) and (max-width: 767px) {
                        max-width: 27px;
                        margin: 15px 8px;
                    }
                }
            }
        }

        &__p2 {
            text-align: center;
            display: flex;
            align-items: center;
            color: variaveis.$cor-branco;
            font-size: 13px;
            white-space: nowrap;
            line-height: 15px;

            @media (max-width: 480px) {
                font-size: 11px;
                white-space: normal;
            }

            @media (min-width: 481px) and (max-width: 767px) {
                font-size: 12px;
                white-space: normal;
            }
        }
    }
}