@use 'variaveis';

.header {
    padding: 24px 0;
    background-color: variaveis.$cor-cinza-fundo1;
    color: variaveis.$cor-branco;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    //margin: 0 auto;

    @media (max-width: 480px) {
        padding: 20px 30px;
        position: relative;
        //width: 90%;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        padding: 25px 30px;
        position: relative;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: variaveis.$cor-branco;
        text-decoration: none;

        span {
            color: variaveis.$cor-branco;
        }

        @media (max-width: 480px) {
            font-size: 24px;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            font-size: 28px;
        }
    }

    &__nav {
        li {
            display: inline;
            font-size: 12px;
            letter-spacing: 2px;
            font-weight: bold;

            a {
                color: variaveis.$cor-branco;
                text-decoration: none;
                position: relative;
                background-image: linear-gradient(to bottom, variaveis.$cor-preto 0%, variaveis.$cor-preto 100%);
                background-repeat: no-repeat;
                background-size: 100% 0%;
                border-radius: 24px;
                padding: 8px 8px 6px;
                position: relative;
                z-index: 1;

                @media (max-width: 480px) {
                    padding: 8px 0px 6px;
                }

            }
            a::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                margin: auto;
                color: transparent;
                background: variaveis.$cor-preto;
                border-radius: 4px;
                visibility: none;
                opacity: 0;
                z-index: -1;
                transition: all .5s;
            }

            a:hover::after {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }

    i {
        display: none;

        @media (max-width: 480px) {
            display: block;
            font-size: 24px;
            color: variaveis.$cor-branco;
            cursor: pointer;
            align-items: center;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            display: block;
            font-size: 26px;
            color: variaveis.$cor-branco;
            cursor: pointer;
            align-items: center;
        }
    }

    .primary-navgation {
        display: flex;
        gap: 20px;
        align-items: center;

        @media (max-width: 480px) {
            transition: right 0.8s ease-in-out;
            background: variaveis.$cor-cinza-fundo1;
            display: grid;
            width: 148px;
            position: absolute;
            top: 66px;
            right: -149px;
            padding: 15px;
            font-size: 12px;
            border-radius: 0 0px 5px 5px;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
            gap: 34px;

            &.active {
                right: 0;
            }
        }

        @media (min-width: 481px) and (max-width: 767px) {
            transition: right 0.8s ease-in-out;
            background: variaveis.$cor-cinza-fundo1;
            display: grid;
            width: 178px;
            position: absolute;
            top: 80px;
            right: -179px;
            padding: 15px;
            font-size: 12px;
            border-radius: 0 0px 5px 5px;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
            gap: 54px;

            &.active {
                right: 0;
            }
        }
    }
}