@use 'variaveis';

.section1 {
    align-items: flex-start;
    color: variaveis.$cor-branco;
    padding: 324px 0 24px;
    background-color: variaveis.$cor-cinza-fundo2;
    margin: 0 0 50px;

    img {
        width: 500px;
    }

    #typed-text {
        font-size: 50px;
        background-image: linear-gradient(to right, variaveis.$cor-azul1, variaveis.$cor-azul2);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        white-space: nowrap; /* Evita quebra de linha */
        overflow: hidden; /* Esconde texto além da largura do elemento */
        // border-right: .15em solid variaveis.$cor-branco; /* Simula o cursor de digitação */
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }

    button {
        padding: 9px 8px 6px;
        border-radius: 30px;
        border: 2px solid variaveis.$cor-branco;
        background-color: variaveis.$cor-cinza-fundo1;
        width: 200px;
        margin-top: 35px;
        transition: all .7s ease;

        &:hover {
            background-color: variaveis.$cor-preto;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            justify-content: center;
            color: variaveis.$cor-branco;
            letter-spacing: 2px;
        }
    }

    p {
        font-size: 24px;
        margin-bottom: 18px;
    }

    &__setas {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        padding-top: 250px;
        
        &__img {
            height: 50px;
            max-width: 50px;
            animation: float 2.5s infinite;
        }
    }

    @keyframes float {
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px); /* Altura que o balão sobe */
        }
    }
}