@use 'variaveis';

.section2 {
    background-color: variaveis.$cor-cinza-fundo1;
    padding: 80px 0;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 32px;
        color: variaveis.$cor-azul1;
        border-bottom: 3px solid variaveis.$cor-azul1;
        max-width: 200px;
        width: 100%;
        border-radius: 10px;
    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 13px;
        color: variaveis.$cor-branco;
    }

    &__container {
        &__sobre {
            max-width: 1240px;
            width: 100%;
            margin: 0 auto;
            border: 2px solid variaveis.$cor-cinza-fundo2;
            padding: 50px;
            border-radius: 20px;
            color: variaveis.$cor-branco;

            ul {
                width: 100%;
                padding-left: 18px;

                li {
                    margin-bottom: 20px;
                    line-height: 26px;
                }
            }

            &__infos {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 1240px;
                width: 100%;
                margin: 0 auto;
                gap: 100px;

                &__img {
                    border: 1px solid variaveis.$cor-azul1;
                    border-radius: 20px;
                    padding: 15px 15px 11px;
                    margin: auto;
                }
            }
        }
    }

    img {
        max-height: 570px;
        min-height: 400px;
        height: auto;
        width: 100%;
        border-radius: 20px;
    }

    .li-sem-bottom {
        margin-bottom: 0;
    }
}