@use 'header';
@use 'hero';
@use 'sobre';
@use 'variaveis';
@use 'habilidades';
@use 'projetos';
@use 'contato';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: variaveis.$cor-cinza-fundo2;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: variaveis.$cor-preto;
}

html::-webkit-scrollbar-thumb {
    background-color: variaveis.$cor-azul1;
    border-radius: 6px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;

    @media (max-width: 480px) {
        width: 24px;
    }
}

.voltar-ao-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    background-color: variaveis.$cor-preto;
    transition: all .7s ease;
    border-radius: 10px;

    @media (max-width: 480px) {
        right: 160px;
        bottom: 80px;
        padding: 5px;
    }

    &:hover {
        background-color: variaveis.$cor-azul1;
    }
}
