@use 'header';
@use 'hero';
@use 'sobre';
@use 'variaveis';
@use 'habilidades';
@use 'projetos';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: variaveis.$cor-cinza-fundo2;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: variaveis.$cor-preto;
}

html::-webkit-scrollbar-thumb {
    background-color: variaveis.$cor-azul1;
    border-radius: 6px;
}
